body {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}


.admin-container {
  display: grid;
  grid-template-columns: 13em repeat(1, 1fr);
  grid-template-rows:   9em repeat(1, 1fr);
  grid-template-areas:
    "side-bar header"
    "side-bar main"
    "side-bar main";
}

/* Sidebar Complete */
.sidebar-container {
  display: grid;
  background-color: rgb(72, 72, 255);
  font-weight: bold;
  grid-area: side-bar;
  grid-template-rows: 1fr;
}
.sb-items {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: 6em 1fr 50px 1fr;
  grid-template-areas:
    "dash"
    "section1"
    "."
    "section2";
  padding: 1em;
}
.dash {
  text-decoration: underline;
  grid-area: dash;
  font-size: 1.5em;
}
.section1 {
  grid-area: section1;
}
.section2 {
  grid-area: section2;
}

/* Header section */
.header.container {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: 
  'top top'
  'bottom bottom';
}
.header-top {
  display: grid;
  grid-area: top;
  grid-template-columns: repeat(2,1fr);
  
  
}
.search-input > input {
  width: 25rem;
  height: 2rem;
  border-radius: 18px;
  border: none;
  background-color: rgb(229, 229, 255);
  border-style:groove;
  

}
.search-btn, .link-btn{
  border: none;
  background-color: white;
  cursor: pointer;
  
}
.header-bottom {
  display: grid;
  grid-area: bottom;
  grid-template-columns: repeat(2,1fr);
}


.top-links {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.user-info {
  display: grid;
  margin-left: 3rem;
  grid-template-columns:100px 300px;
}

.user-output {
  font-weight: bold;
}
.text-2 {
  font-size: 1.1rem;
}
.buttons {
  display: grid;
  height: 2em;
  gap: 10px;
  grid-template-columns: repeat(3,5rem);
  align-self: center;
  margin-left: 5rem;
}
.btn-btn {
  background-color: rgb(104, 104, 255);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}




/* Main content */
.main-container {
  display: grid;
  background-color: rgb(220, 220, 255);
  grid-area: main;
  grid-template-columns: 51em 1fr;
  grid-template-areas: 
  'cards main-sidebar';
}
.main-cards {
  /* border: 1px solid black; */
  display: grid;
  grid-area: cards;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 1fr;
  grid-template-areas: 
  'tittle'
  'main';
}
.main-heading {
  grid-area: tittle;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-holder {
  display: grid;
  grid-area: main;
  gap: 40px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-auto-rows: 2,1fr;
  margin: 10px;
}
.main-sb {
  /* border: 1px solid rgb(255, 0, 0); */
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-area: main-sidebar;
  
}
.card {
  display: grid;
  border:  1px solid white;
  background-color: white;
  border-radius: 6px;
  border-left-width: 10px;
  border-left-color: green;
  grid-template-rows: 2em 1fr 1fr;
  grid-template-areas: 
  'card-top'
  'card-middle'
  'card-bottom';


}
.card-heading {
  font-weight: bold;
  grid-area: card-top;
}
.card-body {
  grid-area: card-middle;
}
.card-btns {
  display: grid;
  grid-area: card-bottom;
  grid-template-columns: repeat(3,1fr);

}
.btn-1, .btn-2, .btn-3 {
  background-color: white;
  border: none;
  cursor: pointer;
}
.sb-1 {
  display: grid;
  grid-template-rows: 1em 1fr;
}
.sb-card{
  border: 1px solid black;
}

