@media screen and (max-width: 600px) {
}
body {
  background-color: rgb(97, 97, 97);
  width: 1895px;
  height: 988px;
  font-family: sans-serif;
}

/* The sidebar starts here 

*/
.page-block {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  grid-template-rows: 15% repeat(1, 1fr);
  grid-template-areas:
    "sidebar heading heading"
    "sidebar main announce";
}
.sidebar-container {
  display: grid;
  background-color: rgb(72, 72, 255);
  grid-area: sidebar;
  grid-template-rows: 10vh repeat(2, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c";
  align-items: center;
}
.sidebar-heading {
  display: grid;
  grid-area: a;
}
.dashboard-container {
  font-size: 1.5rem;
  font-weight: bold;
}
.dash-section1 {
  display: grid;
  row-gap: 10px;
  grid-area: b;
  font-weight: bold;
}
.dash-section2 {
  display: grid;
  grid-area: c;
  font-weight: bold;
}

/* The heading of the page starts here

*/
.header-container {
  background-color: white;
  display: grid;
  grid-area: heading;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "search links"
    "user-info buttons";
}
.header-search {
  align-items: center;
  display: grid;
  grid-area: search;
  grid-template-columns: 10% 1fr;
}
.search-button {
  margin-top: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.search-image {
  height: 25px;
}
.search-input {
  background-color: rgb(189, 190, 190);
  width: 30em;
  height: 2em;
  border: none;
  border-radius: 16px;
  border-style: groove;
}

.header-top-right {
  display: grid;
  grid-area: links;
  grid-template-columns: repeat(3, 30%);
  align-self: center;
  margin-left: 15em;
}
.bell-button {
  width: 3.5em;
  border: none;
  background-color: white;
  cursor: pointer;
}
.bell-image {
  height: 2em;
}
.header-name {
  font-weight: bold;
  font-size: 1rem;
}

.header-bottom-left {
  padding: 0;

  align-items: center;
  display: grid;
  grid-area: user-info;
  grid-template-columns: 20% 40%;
}
.user-logo-large {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.intro {
  font-weight: bold;
  margin: 0;
}
.user-name {
  font-size: 1.5rem;
  margin-top: 5px;
}
.header-bottom-right {
  display: grid;
  gap: 3em;
  grid-area: buttons;
  grid-template-columns: repeat(3, 15%);
}
.header-button {
  background-color: rgb(130, 130, 255);
  border: none;
  border-radius: 16px;
  height: 3em;
  width: 8em;
  color: white;
  font-weight: bold;
  margin-left: 18em;
  cursor: pointer;
}
/* The main container starts here 

*/
.main-container {
  background-color: rgb(187, 198, 221);
  display: grid;
  grid-area: main;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "main-header"
    "main-cards";
}
.main-header {
  font-weight: bold;
  font-size: 1.5rem;
  grid-area: main-header;
}
.main-card {
  display: grid;

  grid-area: main-cards;
  grid-template-columns: repeat(3, 32.5%);
  grid-template-rows: repeat(auto-fill, 50%);
}
.card-container {
  margin-left: 1em;
  background-color: azure;
  width: 90%;
  height: 90%;
  display: grid;
  border: 1px solid rgb(178, 198, 221);
  border-left-width: 0.5rem;
  border-radius: 6px;
  border-left-color: green;
}
.card-button-image {
  height: 1.5rem;
}
.card-bttons {
  margin-left: 13em;
}
.button1 {
  background-color: azure;
  border: none;
  cursor: pointer;
}
.card-header {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
}
.card-body {
  padding: 10px;
}
/* The announcement container start here 

*/
.announce-container {
  display: grid;
  background-color: rgb(72, 72, 255);
  grid-area: announce;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card1 ."
    ". card2";
}
.ann-card-container {
  text-align: center;
  display: grid;
  grid-area: card1;
  background-color: azure;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 6px;
  padding: 0;
  margin-left: 1em;
}
.section1-heading {
  font-weight: bold;
}
.card-body {
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}
.card-title {
  font-weight: bold;
}
.ann-section2 {
  grid-area: card2;
}
.ann-card-container2 {
  display: grid;
  background-color: azure;
  border-radius: 6px;
  grid-template-rows: repeat(4, 5em);
  margin-right: 2em;
  grid-template-areas:
    "trend1"
    "trend2"
    "trend3"
    "trend4";
}
.trend-card1 {
  display: grid;

  align-items: center;
  grid-area: trend1;
}
.trend-card2 {
  display: grid;

  grid-area: trrend2;
}
.trend-card3 {
  grid-area: trend3;
}
.trend-card4 {
  grid-area: trend4;
}
